.App, .status {
  text-align: center;
  display: grid;
  place-items: center;
}

.status {
  margin-top: 17rem;
  font-size: 20px;
}

.table {
  width: 878px;
  padding-top: 50px;
  display: block;
  margin-top: 10rem;
}

input {
  color: navy;
  width: 30%;
  height: 25px;
  margin-bottom: 10px;
}

.th {
  width: 100%;
  height: 26px;
  font-weight: bold;
  padding-top: 3px;
}

.viewPort {
  position: relative;
  width: 878px;
  overflow-y: scroll;
  border: solid 1px lightgray;
}

.dataContainer {
  position: absolute;
  width: 878px;
}

.row {
  position: absolute;
  background-color: beige;
  width: 878px;
  text-align:center;
}

.column {
  float:left;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  position: relative;
  padding-top: 1.5px;
}

.column:nth-child(1){
  float:left;
  width: 170px;
  min-width: 170px;
  max-width: 170px;
}



